<section class="about-section cv-section">
  <h2 class="my-titles">{{ 'header.about' | translate }}</h2>
  <p>
    <strong>{{ 'header.languages' | translate }}:</strong>
    <span *ngFor="let lang of about.languages; let last = last">
        {{ lang.name }} ({{ lang.level }}){{ !last ? ', ' : '' }}
      </span>
  </p>
  <p><strong>{{ 'header.experience' | translate }}:</strong> {{ calculatedExperience || about.experience }}</p>
  <p><strong>{{ 'header.militaryObligation' | translate }}:</strong> {{ about.militaryObligation }}</p>
</section>
