<div class="header">
  <div class="personal-info">
    <h1>{{ personalInfo.name }} {{ personalInfo.surname }}</h1>
    <p class="location">{{ personalInfo.location }}</p>
    <div class="h-titles">
      <span *ngFor="let title of personalInfo.titles">{{ title }}</span>
    </div>
  </div>

  <div class="contact-info">
    <h3 class="titles">{{ 'header.contactInfo' | translate}}</h3>
    <p>{{ personalInfo.contact.phone }}</p>
    <p>{{ personalInfo.contact.email }}</p>

    <h3> {{ 'header.websites'| translate }}</h3>
    <ul>
      <li *ngFor="let profile of personalInfo.webProfiles">
        <a [href]="'https://' + profile.url" target="_blank">{{ profile.name }}</a>
      </li>
    </ul>
  </div>

  <div class="about-section">
    <h3>{{ 'header.about' | translate }}</h3>
    <p>
      <strong>{{ 'header.languages' | translate }}:</strong>
      <span *ngFor="let lang of personalInfo.about.languages; let last = last">
        {{ lang.name }} ({{ lang.level }}){{ !last ? ', ' : '' }}
      </span>
    </p>
    <p><strong>{{ 'header.experience' | translate }}:</strong> {{ personalInfo.about.experience }}</p>
    <p><strong>{{ 'header.militaryObligation' | translate }}:</strong> {{ personalInfo.about.militaryObligation }}</p>
  </div>
</div>
