<div class="header">
  <div class="language-switcher">
    <div class="lang-options">
      <button
        *ngFor="let lang of languages"
        [class.active]="isActive(lang.code)"
        (click)="switchLanguage(lang.code)">
        {{ lang.name }}
      </button>
    </div>
  </div>

  <div class="personal-info">
    <h1>{{ personalInfo.name }} {{ personalInfo.surname }}</h1>
    <p class="location">{{ personalInfo.location }}</p>
    <div class="h-titles">
      <span *ngFor="let title of personalInfo.titles">{{ title }}</span>
    </div>
  </div>

  <div class="contact-info">
    <h3 class="section-title">{{ 'header.contactInfo' | translate}}</h3>

    <div class="contact-item">
      <div class="contact-icon">📱</div>
      <div class="contact-text">{{ personalInfo.contact.phone }}</div>
    </div>

    <div class="contact-item">
      <div class="contact-icon">✉️</div>
      <div class="contact-text">
        <a href="mailto:{{ personalInfo.contact.email }}">{{ personalInfo.contact.email }}</a>
      </div>
    </div>

    <h3 class="section-title">{{ 'header.websites'| translate }}</h3>
    <ul class="website-list">
      <li *ngFor="let profile of personalInfo.webProfiles" class="website-item">
        <div class="contact-icon">🔗</div>
        <a [href]="'https://' + profile.url" target="_blank" class="website-link">{{ profile.name }}</a>
      </li>
    </ul>
  </div>

  <div class="about-section">
    <h3 class="my-titles">{{ 'header.about' | translate }}</h3>
    <p>
      <strong>{{ 'header.languages' | translate }}:</strong>
      <span *ngFor="let lang of personalInfo.about.languages; let last = last">
        {{ lang.name }} ({{ lang.level }}){{ !last ? ', ' : '' }}
      </span>
    </p>
    <p><strong>{{ 'header.experience' | translate }}:</strong> {{ personalInfo.about.experience }}</p>
    <p><strong>{{ 'header.militaryObligation' | translate }}:</strong> {{ personalInfo.about.militaryObligation }}</p>
  </div>
</div>
