<div class="cv-container" *ngIf="!loading && !error">
  <app-print-page></app-print-page>
  <app-header [personalInfo]="cvData.personalInfo"></app-header>

  <div class="main-content">
    <app-technical-skills [skills]="cvData.technicalSkills"></app-technical-skills>
    <app-experience [experiences]="cvData.experiences"></app-experience>
    <app-education [education]="cvData.education"></app-education>
    <app-awards [awards]="cvData.awards"></app-awards>
  </div>

  <div *ngIf="loading" class="loading">
    Yükleniyor...
  </div>

  <div *ngIf="error" class="error">
    CV verisi yüklenirken bir hata oluştu. Lütfen sayfayı yenileyin.
  </div>
</div>

