<div class="experience-section">
  <h2>{{ 'experience.title'| translate }}</h2>

  <div class="timeline">
    <div *ngFor="let exp of experiences" class="job">
      <div class="job-header">
        <div class="job-title">
          <h3>{{ exp.title }}</h3>
          <h4>{{ exp.company }}</h4>
          <p class="location-period">{{ exp.location }} | {{ exp.period }}</p>
        </div>
      </div>

      <div class="job-description" *ngIf="exp.description">
        <p>{{ exp.description }}</p>
      </div>

      <div class="responsibilities" *ngIf="exp.responsibilities && exp.responsibilities.length > 0">
        <ul>
          <li *ngFor="let responsibility of exp.responsibilities">{{ responsibility }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
